#!/bin/bash

# X Input Method
# source: http://paul.elms.pro/blog/2013/04/11/pieriekliuchieniie-raskladok-v-emacs/
# GTK_IM_MODULE='xim'; export GTK_IM_MODULE
# QT_IM_MODULE='xim'; export QT_IM_MODULE
# uim-xim &
# XMODIFIERS='@im=uim'; export XMODIFIERS
# fcitx -d
# ibus-daemon -d -x
# scim -d

# Джойстик-листалка на ободе экрана
setkeycodes e006 104
setkeycodes e007 109

# set up all keyboard options
upkb
# start keyboard layout indicator
fbxkb &

# xsetwacom set "Wacom Serial Penabled 2FG Touchscreen touch" Gesture 'off'

# Клавиши
xbindkeys

# Docear fix
export _JAVA_AWT_WM_NONREPARENTING=1 

# Java font fix
# export _JAVA_OPTIONS='-Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel' 
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=gasp'

# Editor
export EDITOR="emacsclient -c"
export VISUAL="emacsclient -c"
# export VISUAL="vim"

xrdb ~/.Xresources

# Extrenal monitor detection
# test `ps x | grep togglevga | wc -l` == 1 && togglevga > /dev/null &

