#!/bin/bash

# Джойстик-листалка на ободе экрана
setkeycodes e006 104
setkeycodes e007 109

# Ещё кнопки
xmodmap ~/.xmodmap

# Эмуляция колёсика по правой кнопке (правая кнопка тоже работает!!!)
xinput set-prop "PS/2 Generic Mouse" "Evdev Wheel Emulation" 1
xinput set-prop "PS/2 Generic Mouse" "Evdev Wheel Emulation Button" 3
# Эмуляция клика колёсиком по клику обеими клавишами тачпэда
xinput set-prop "SynPS/2 Synaptics TouchPad" "Evdev Middle Button Emulation" 1
xinput set-prop "SynPS/2 Synaptics TouchPad" "Evdev Middle Button Timeout" 50

# Клавиши
xbindkeys

# Переключение раскладки по вин-кнопке
setxkbmap -option "caps:hyper"
#setxkbmap -layout "us,ru" -option "grp:lwin_toggle,grp_led:scroll"

# Docear fix
export _JAVA_AWT_WM_NONREPARENTING=1 

# Java font fix
# export _JAVA_OPTIONS='-Dswing.defaultlaf=com.sun.java.swing.plaf.gtk.GTKLookAndFeel' 
export _JAVA_OPTIONS='-Dawt.useSystemAAFontSettings=gasp'

# Editor
export EDITOR="emacsclient -c"
export VISUAL="emacsclient -c"
# export VISUAL="vim"

xrdb ~/.Xresources

# Second monitor
IN="LVDS1"
EXT="VGA1"

xrandr --newmode 1080p21 178.72  1920 2040 2248 2576  1080 1081 1084 1119  -HSync +Vsync
xrandr --addmode $EXT 1080p21

if (xrandr | grep "$EXT connected"); then
   xrandr --output $IN --pos 0x0 --output $EXT --mode 1080p21 --pos 0x800 --primary
fi

# Rotation button

# SCIM (Input method)
# source: http://paul.elms.pro/blog/2013/04/11/pieriekliuchieniie-raskladok-v-emacs/
export XMODIFIERS=@im=SCIM
export GTK_IM_MODULE="scim"
export QT_IM_MODULE="scim"
scim -d
